@model IEnumerable<LeaveManagement.web.Models.LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            <button class="btn btn-danger deleteBtn" data-id="@item.Id" type="button"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="DeleteForm" asp-action="Delete">
    <input type="hidden" id="LeaveTypeId" name="Id"/>

</form>

@section Scripts{ 
<script>
    $(
        function () {

            $('.table').DataTable();
            $('.deleteBtn').click(function (e) {
                swal(
                    {
                        title: "Are you sure?",
                        text: "Once deleted, you will not be able to recover this file!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((confirm) => {
                        if (confirm) {
                            var btn = $(this);
                            var id = btn.data(("id"));
                            $('#LeaveTypeId').val(id);
                            $('#DeleteForm').submit();
                        }
                            
                    });
            });
        }
    );
</script>
}